.has-order-1
    order: 1

.has-order-2
    order: 2

.has-order-3
    order: 3

.card
    border-radius: $card-border-radius
    &+.card, +.column-right-shadow
        margin-top: 1.5rem

.card .card-image
    overflow: hidden
    border-top-left-radius: $card-border-radius
    border-top-right-radius: $card-border-radius

.navbar-main
    box-shadow: 0 4px 10px rgba(0,0,0,.05)

.has-link-grey
    color: $grey !important

.article .content
    font-size: 1.1rem

.is-rounded img
    border-radius: $radius-rounded

.is-overflow-x-auto
    overflow-x: auto !important

.pagination-previous, .pagination-next, .pagination-link
    background: #fff
    box-shadow: 0 4px 10px rgba(0,0,0,.05)

#dark
    background: $darker
    .navbar, .card, .footer
        background: $dark
    a
        color: $dark-fade !important

.article .article-meta, .card .media
    margin-bottom: 0.5rem !important

.backtotop
  width: 3rem !important
  height: 3rem !important
  position: fixed !important
  right: 5rem
  bottom: 5rem
  transition: all .25s ease-out
  transform: scale(0)
  @media screen and (max-width: 775px)
    right:  2rem
    bottom: 2rem
  &.is-visible
    transform: scale(1)

.is-backgroundless
  background: transparent !important
