<template>
  <Layout>
    <post-card :post="$page.post" single-page />
    <div v-if="$page.post.tags" class="card">
      <div class="card-content">
        <div class="tags">
          <span v-for="tag in $page.post.tags" :key="tag.id" class="tag is-light is-uppercase">
            <g-link :to="tag.path" class="has-text-grey-dark">
              #{{ tag.title }}
            </g-link>
          </span>
        </div>
      </div>
    </div>

    <div v-if="themeConfig.disqus.enable" class="card">
      <div class="card-content">
        <div v-if="!showComment" class="has-text-centered">
          <button
            class="button is-primary is-rounded"
            aria-label="View  comments"
            @click="toggleComment"
          >
            <i class="fas fa-comments"></i> View Comments
          </button>
        </div>
        <disqus
          v-else
          :identifier="$page.post.id"
          :shortname="themeConfig.disqus.shortname"
        />
      </div>
    </div>
  </Layout>
</template>

<script>
import PostCard from '~/components/PostCard.vue'
const Disqus = () => import('@/components/Disqus')
import themeConfig from '@/theme.config'

export default {
  components: {
    PostCard,
    Disqus
  },
  metaInfo () {
    return {
      title: this.$page.post.title,
      meta: [
        {
          name: 'description',
          content: this.$page.post.description
        }
      ]
    }
  },
  data() {
    return {
      showComment: false,
      themeConfig
    }
  },
  methods: {
    toggleComment() {
      this.showComment = true
    }
  }
}
</script>

<page-query>
query Post ($path: String!) {
  post: post (path: $path) {
    id
    title
    path
    date
    dateFormated: date (format: "MMMM DD, YYYY")
    timeToRead
    category {
      title
      path
    }
    tags {
      id
      title
      path
    }
    description
    content
    cover_image (width: 565, height: 241, blur: 10)
  }
}
</page-query>
