<template>
  <Layout>
    <div class="card">
      <div class="card-content">
        <h2 class="is-size-5">Tag: #{{ $page.tag.title }}</h2>
      </div>
    </div>
    <PostCard v-for="edge in $page.tag.belongsTo.edges" :key="edge.node.id" :post="edge.node"/>
    <!-- pagination -->
    <div class="card is-shadowless is-backgroundless">
      <div class="card-content is-paddingless">
        <nav class="pagination is-centered">
          <div class="pagination-list">
            <Pager
              :info="$page.tag.belongsTo.pageInfo"
              link-class="pagination-link"
              exact-active-link-class="is-current" />
          </div>
        </nav>
      </div>
    </div>
    <!-- end pagination -->
  </Layout>
</template>

<page-query>
query Tag ($path: String!, $page: Int) {
  tag (path: $path) {
    title
    belongsTo(page: $page, perPage: 5) @paginate {
      pageInfo {
        totalPages
        currentPage
      }
      edges {
        node {
          ...on Post {
            title
            path
            date
            dateFormated: date (format: "MMMM DD, YYYY")
            timeToRead
            description
            cover_image (width: 565, height: 241, blur: 10)
            content
            category {
              title
              path
            }
          }
        }
      }
    }
  }
}
</page-query>

<script>
import Author from '~/components/Author.vue'
import PostCard from '~/components/PostCard.vue'
import { Pager } from 'gridsome'

export default {
  components: {
    Author,
    PostCard,
    Pager
  },
  metaInfo: {
    title: 'Tags'
  }
}
</script>

