<template>
  <div class="card widget">
    <div class="card-content">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <figure class="image has-mb-6">
              <g-image
                alt="Nama"
                src="~/assets/images/author.jpg"
                class="is-rounded is-rounded is-128x128"
                height="128"
                width="128" />
            </figure>
            <p class="is-size-4 is-block">{{ themeConfig.author.name }}</p>
            <p class="is-size-6 is-block">{{ themeConfig.author.bio }}</p>
          </div>
        </div>
      </nav>
    </div>
    <footer class="card-footer is-block">
      <div class="text-center" style="padding: .6em">
        <div class="level is-mobile">
          <a
            v-for="(a, s) in themeConfig.social"
            :key="s"
            :href="`https://${s}.com/${a}`"
            :aria-label="s"
            target="_blank"
            rel="noopener noreferrer"
            class="level-item button is-text is-marginless"
          >
            <i :class="['fab', 'fa-' + s]"></i>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="/rss.xml"
            class="level-item button is-text is-marginless"
            aria-label="RSS"
          >
            <i class="fas fa-rss"></i>
          </a>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import themeConfig from '~/theme.config'

export default {
  data() {
    return {
      themeConfig
    }
  }
}
</script>

