<template>
  <div class="card widget">
      <div class="card-content">
          <div class="menu">
              <div class="menu-label">Categories</div>
              <ul class="menu-list">
                <li v-for="edge in $static.categories.edges" :key="edge.node.id">
                  <g-link :to="edge.node.path" class="level is-marginless is-flex">
                    <span class="level-start">
                      <span class="level-item">{{ edge.node.title }}</span>
                    </span>
                    <span class="level-end">
                      <span class="level-item tag">{{ edge.node.posts.totalCount }}</span>
                    </span>
                  </g-link>
                </li>
              </ul>
          </div>
      </div>
  </div>
</template>

<static-query>
query {
  categories: allCategory {
    edges {
      node {
        id
        title
        path
        posts: belongsTo {
          totalCount
        }
      }
    }
  }
}
</static-query>
