<template>
  <div class="card widget">
    <div class="card-content">
      <div class="menu">
        <div class="menu-label">Recents</div>
        <article v-for="edge in $static.posts.edges" :key="edge.node.id" class="media">
          <div class="media-content">
              <div class="content">
                <div>
                  <time :datetime="edge.node.date" class="has-text-grey is-size-7 is-uppercase">
                    {{ edge.node.dateFormated }}
                  </time>
                </div>
                <g-link :to="edge.node.path" class="is-size-6">{{ edge.node.title }}</g-link>
              </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</template>

<static-query>
query {
  posts: allPost {
    edges {
      node {
        id
        title
        path
        date
        dateFormated: date (format: "MMMM DD, YYYY")
      }
    }
  }
}
</static-query>
