<template>
  <div class="card widget">
      <div class="card-content">
          <div class="menu">
              <div class="menu-label">Tags</div>
              <div class="field is-grouped is-grouped-multiline">
                <div v-for="edge in $static.tags.edges" :key="edge.node.id" class="control">
                  <g-link :to="edge.node.path" class="tags has-addons is-marginless">
                    <span class="tag">{{ edge.node.title }}</span>
                    <span class="tag has-background-grey-lighter">{{ edge.node.posts.totalCount }}</span>
                  </g-link>
                </div>
              </div>
          </div>
      </div>
  </div>
</template>

<static-query>
query {
  tags: allTag {
    edges {
      node {
        id
        title
        path
        posts: belongsTo {
          totalCount
        }
      }
    }
  }
}
</static-query>
