<template>
  <Layout>
    <div class="card">
      <div class="card-content has-text-centered">
        <h1 class="is-size-1">404</h1>
        <h2 class="is-size-3">Not Found</h2>
        <p>You just hit a route that doesn&#39;t exist... the sadness.</p>
      </div>
    </div>
  </Layout>
</template>
