<template>
  <Layout>
    <div class="card">
      <div class="card-content">
        <div class="timeline">
          <div v-for="(edges, month)  in grouped" :key="month">
            <div class="timeline-header">
              <span class="tag is-primary">{{ month }}</span>
            </div>
            <div v-for="edge in edges" :key="edge.id" class="timeline-item">
              <div class="timeline-marker"></div>
              <div class="timeline-content">
                <time :datetime="edge.node.date" class="heading">{{ edge.node.dateFormated }}</time>
                <p>
                  <g-link :to="edge.node.path" class="has-text-grey-darker">{{ edge.node.title }}</g-link>
                </p>
              </div>
            </div>
          </div>
          <div class="timeline-header">
            <span class="tag is-primary">End</span>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<page-query>
{
  posts: allPost(filter: { published: { eq: true }}) {
    edges {
      node {
        id
        title
        path
        date
        dateFormated: date (format: "MMMM DD, YYYY")
        month: date (format: "MMMM YYYY")
      }
    }
  }
}
</page-query>

<script>
export default {
  computed: {
    grouped() {
      return this.$page.posts.edges.reduce(function(rv, x) {
        (rv[x.node.month] =
          rv[x.node.month] || []).push(x);
        return rv;
      }, {});
    }
  }
};
</script>
