<template>
  <Layout>
    <PostCard v-for="edge in $page.posts.edges" :key="edge.node.id" :post="edge.node"/>

    <!-- pagination -->
    <div class="card is-shadowless is-backgroundless">
      <div class="card-content is-paddingless">
        <nav class="pagination is-centered">
          <div class="pagination-list">
            <Pager
              :info="$page.posts.pageInfo"
              link-class="pagination-link"
              exact-active-link-class="is-current" />
          </div>
        </nav>
      </div>
    </div>
    <!-- end pagination -->
  </Layout>
</template>

<page-query>
query Post($page: Int) {
  posts: allPost(perPage: 5, page: $page) @paginate {
    pageInfo {
      totalPages
      currentPage
    }
    edges {
      node {
        id
        title
        path
        category {
          title
          path
        }
        date
        dateFormated: date (format: "MMMM DD, YYYY")
        timeToRead
        description
        excerpt
        cover_image (width: 565, height: 241, blur: 10)
      }
    }
  }
}
</page-query>

<script>
import Author from '~/components/Author.vue'
import PostCard from '~/components/PostCard.vue'
import { Pager } from 'gridsome'

export default {
  components: {
    Author,
    PostCard,
    Pager
  },
  metaInfo: {
    title: 'Hello, world!'
  }
}
</script>
