<template>
  <header class="navbar navbar-main">
    <div class="container">
      <div class="navbar-brand">
        <g-link class="navbar-item navbar-logo" to="/">
          <h1 class="is-size-4">{{ $static.metaData.siteName }}</h1>
        </g-link>
        <button
          :class="['navbar-burger burger button is-white', {'is-active': showMenu}]"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
          @click="menuToggle"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </button>
      </div>
      <nav :class="['navbar-menu', {'is-active': showMenu}]">
        <div class="navbar-start">
          <g-link
            v-for="(navbar, i) in themeConfig.navbar.menu"
            :key="i"
            :to="navbar.url"
            class="navbar-item"
            active-class="is-active"
            exact
          >
            {{ navbar.title }}
          </g-link>
        </div>
      </nav>
    </div>
  </header>
</template>

<static-query>
query {
  metaData {
    siteName
  }
}
</static-query>

<script>
import themeConfig from '@/theme.config'

export default {
  data() {
    return {
      showMenu: false,
      themeConfig
    }
  },
  methods: {
    menuToggle() {
      this.showMenu = !this.showMenu
    }
  }
}
</script>

