<template>
  <div class="card is-clipped">
    <div v-if="post.cover_image" class="card-image">
      <g-image v-if="singlePage" :src="post.cover_image" width="565" :alt="post.title" class="thumbnail" />
      <g-link v-else :to="post.path" class="image is-7by1">
        <g-image :src="post.cover_image" width="565" :alt="post.title" class="thumbnail" />
      </g-link>
    </div>
    <div class="card-content article">
      <div class="level article-meta is-size-7 is-uppercase is-mobile is-overflow-x-auto has-text-grey">
        <div class="level-left">
          <span class="level level-item">
            <i class="level-item fas fa-calendar"></i>
            <time :datetime="post.date" class="level-item">
              {{ post.dateFormated }}
            </time>
          </span>
          <g-link :to="post.category.path" class="level level-item has-link-grey -link">
            <i class="level-item fas fa-folder"></i>
            <span class="level-item">{{ post.category.title }}</span>
          </g-link>
          <span class="level level-item">
            <i class="level-item fas fa-eye"></i>
            <span class="level-item">
              {{ `${post.timeToRead} Min${post.timeToRead > 1 ? 's' : ''}` }} Read
            </span>
          </span>
        </div>
      </div>
      <h1 class="title is-size-3 is-size-4-mobile has-text-weight-normal">
        <g-link v-if="!singlePage" :to="post.path">{{ post.title }}</g-link>
        <template v-else>{{ post.title }}</template>
      </h1>
      <article v-if="singlePage" v-html="post.content" class="content" />
      <div v-else>
        <div class="content">{{ post.excerpt }}</div>
        <div class="level is-mobile">
          <div class="level is-start">
            <g-link :to="post.path" class="button is-size-7 is-light">
              Read More
            </g-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default: {}
    },
    singlePage: {
      type: Boolean,
      default: false
    }
  },
}
</script>
