<template>
  <div>
    <author />
    <categories />
  </div>
</template>

<script>
import Author from '~/components/widgets/Author.vue'
import Categories from '~/components/widgets/Categories.vue'

export default {
  components: {
    Author,
    Categories
  }
}
</script>
