<template>
  <div>
    <recents />
    <tags />
  </div>
</template>

<script>
import Tags from '@/components/widgets/Tags.vue'
import Recents from '@/components/widgets/Recents.vue'

export default {
  components: {
    Tags,
    Recents
  }
}
</script>

