<template>
  <div id="app" class="is-3-column">
    <app-header />
    <section class="section">
      <div class="container">
        <div class="columns">
          <main class="column is-8-tablet is-8-desktop is-6-widescreen has-order-2 column-main">
            <slot />
          </main>
          <aside
            class="column is-4-tablet is-4-desktop is-3-widescreen has-order-1 column-left is-sticky"
          >
            <side-left />
          </aside>
          <aside
            class="column is-4-tablet is-4-desktop is-3-widescreen is-hidden-touch is-hidden-desktop-only has-order-3 column-right"
          >
            <side-right />
          </aside>
        </div>
      </div>
    </section>
    <button
      :class="['button is-primary is-rounded backtotop', { ' is-visible':  isScrolled }]"
      aria-label="Go to top"
      @click="goToTop"
    >
      <i class="fas fa-chevron-up"></i>
    </button>
    <footer class="footer">
      <span class="footer__copyright">Copyright © {{ new Date().getFullYear() }}.</span>
      <span class="footer__links">
        Powered by
        <a href="//gridsome.org">Gridsome</a>
      </span>
    </footer>
  </div>
</template>

<script>
import AppHeader from '@/components/AppHeader.vue'
import SideRight from '@/components/SideRight.vue'
import SideLeft from '@/components/SideLeft.vue'

export default {
  components: {
    AppHeader,
    SideRight,
    SideLeft
  },
  data() {
    return {
      isScrolled: false
    }
  },
  methods: {
    goToTop() {
      window.scrollTo({top: 0, behavior: 'smooth'})
    },
    onScroll() {
      this.isScrolled = (window.scrollY > 100)
    }
  },
  mounted() {
    window.addEventListener('scroll', this.onScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.onScroll)
  }
}
</script>
